.checkout-background {
  --spread: 20px;
  --blur: 30px;
  min-height: calc(100vh - 76px);
  height: max-content;
  >div {
    min-height: inherit;
    >* {
      @apply backdrop-blur-sm p-6 rounded-3xl;
    }
  }
}

.checkout-receipt {
  background: #bedbfebf;
  box-shadow: inset var(--spread) var(--spread) var(--blur) #7e91a8bf,
    inset calc(-1 * var(--spread)) calc(-1 * var(--spread)) var(--blur) #ffffffbf;
}

.payment-details {
  background: #1e3faebf;
  box-shadow: inset var(--spread) var(--spread) var(--blur) #0c1a46bf,
    inset calc(-1 * var(--spread)) calc(-1 * var(--spread)) var(--blur) #3066ffbf;
}

td, th {
  @apply text-center p-1;
}