.checkout-background {
  --spread: 20px;
  --blur: 30px;
  min-height: calc(100vh - 76px);
  height: max-content;
  >div {
    min-height: inherit;
    >* {
      @apply backdrop-blur-sm p-6 rounded-3xl;
    }
  }
}

.checkout-receipt {
  background: #bedbfebf;
  box-shadow: inset var(--spread) var(--spread) var(--blur) #7e91a8bf,
    inset calc(-1 * var(--spread)) calc(-1 * var(--spread)) var(--blur) #ffffffbf;
}

.checkout-payment {
  background: #1e3faebf;
  box-shadow: inset var(--spread) var(--spread) var(--blur) #0c1a46bf,
    inset calc(-1 * var(--spread)) calc(-1 * var(--spread)) var(--blur) #3066ffbf;
  .form-section-header {
    @apply font-bold col-span-2 text-lg text-blue-400 text-right;
  }
  label:not(.form-section-header) {
    @apply text-neutral-100;
  }
  input, textarea {
    @apply w-full rounded p-1 bg-gradient-to-br from-neutral-100 to-neutral-400 shadow-md shadow-neutral-600 text-neutral-800 focus:outline-none focus:shadow-black;
  }
}

td, th {
  @apply text-center p-1;
}