@keyframes slideX {
  to {
    @apply translate-x-0;
  }
}

@keyframes slideY {
  to {
    @apply translate-y-0;
  }
}

@keyframes orangeRedGlow {
  0% {
    color: #ea580c; /* orange-600 */
  }

  50% {
    color: #dc2626; /* red-600 */
  }

  100% {
    color: #ea580c; /* orange-600 */
  }
}

@keyframes flowingGradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

@keyframes opaque {
  to {
    @apply opacity-100;
  }
}

@media screen and (max-width: 1024px) {
  #hero-wrapper {
    --x-offset: 100vw;
  }
}

@media screen and (min-width: 1024px) {
  #hero-wrapper {
    --x-offset: 50vw;
  }
}

#hero-wrapper.animated :is(#header-container, #welcome-container) {
  animation: 250ms ease-in-out 2s 1 forwards slideX;
}

#welcome-container {
  transform: translateX(calc(-1 * var(--x-offset)));
}

#header-container {
  transform: translateX(var(--x-offset));
}

#hero-header {
  animation: 4s linear infinite orangeRedGlow;
  text-shadow: -3px 3px 0px #172554; /* blue-950 */
}

/* choropleth in data story */
.plot-d6a7b5-figure {
  @apply grid justify-center
}

.plot-d6a7b5-ramp {
  @apply text-slate-400
}

#testimonials-wrapper {
  --card-count: 5;
  --track-width: 1500px;
  --track-gap: 32px;
  --card-width: calc(var(--track-width) / var(--card-count));
  --card-border-box: calc(var(--card-width) + var(--track-gap));
  --frame-width: calc(50vw - (var(--card-border-box) / 2))
}

#testimonials-overlay {
  border-left-width: var(--frame-width);
  border-right-width: var(--frame-width);
}

#testimonials {
  @apply grid relative p-4;
  left: var(--frame-width);
  grid-template-columns: repeat(var(--card-count), var(--card-width));
  column-gap: var(--track-gap);
  transform: translateX(calc(-1 * var(--card-border-box) * (var(--card-count) - 1)));
  animation: slideX 20s steps(var(--card-count), jump-none) paused infinite alternate;
}

.animated #testimonials {
  animation-play-state: running;
}

#cta {
  background-size: 200% 200%;
  animation: flowingGradient 5s infinite alternate;
}

.text-bubble {
  @apply bg-blue-700 bg-opacity-95 text-white p-4 rounded sm:max-w-[75%] lg:max-w-max sm:text-xl relative;

  /* text bubble tail */
  --r: 1em;
  --t: 1.5em;
  border-inline: var(--t) solid #0000;
  border-radius: calc(var(--r) + var(--t))/var(--r);
  mask:
    radial-gradient(100% 100% at var(--_p) 0, #0000 99%, #000 102%) var(--_p) 100%/var(--t) var(--t) no-repeat,
    linear-gradient(#000 0 0) padding-box;
}

.left {
  --_p: 0;
  @apply rounded-bl-none translate-y-32 opacity-50;
}

.right {
  --_p: 100%;
  @apply self-end text-right rounded-br-none opacity-0 translate-y-16;
}

#cta.animated .left {
  animation: slideY 500ms ease-in-out 100ms 1 forwards,
    opaque 500ms ease-in 100ms 1 forwards;
}

#cta.animated .right {
  animation: slideY 500ms ease-in-out 2s 1 forwards,
    opaque 500ms ease-in 2s 1 forwards;
}