@keyframes slideIn {
  100% {
    left: 0;
    right: 0;
  }
}

#cta-container, #welcome-container {
  animation: 250ms ease-in-out 2s 1 forwards slideIn;
}

#cta-container {
  right: -50vw;

  h1 {
    /* blue-950 */
    text-shadow: -3px 3px 0px #172554;
  }
}

#welcome-container {
  left: -50vw;
}
