@keyframes buyGlow {
  0% {
    transform: translateX(calc(-1 * var(--buy-width)));
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1 * var(--buy-width)));
  }
}

.buy-wrapper {
  --buy-width: 296px;
  >.buy-background {
    width: calc(var(--buy-width) * 2);
    transform: translateX(calc(-1 * var(--buy-width)));
  }
  &:hover {
    >.buy-background {
      animation: buyGlow 4s linear infinite alternate;
    }
  }
}

button:disabled {
  cursor: not-allowed;
  filter: saturate(50%) brightness(150%);
}

button.hide-when-disabled:disabled {
  visibility: hidden;
}

@keyframes focusLens {
  100% {
    @apply blur-0;
  }
}

.product-page {
  @apply blur-lg;
  animation: focusLens 500ms ease-in-out forwards;
  --img-height: max(384px, calc(100vh - 200px));
  min-height: calc(var(--img-height) + 64px);
  .product-image {
    max-height: var(--img-height);
    max-width: 384px;
    width: calc(100vw - 80px);
  }
}