@keyframes buyGlow {
  0% {
    transform: translateX(calc(-1 * var(--buy-width)));
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1 * var(--buy-width)));
  }
}

.buy-wrapper {
  --buy-width: 296px;
  >.buy-background {
    width: calc(var(--buy-width) * 2);
    transform: translateX(calc(-1 * var(--buy-width)));
  }
  &:hover {
    >.buy-background {
      animation: buyGlow 4s linear infinite alternate;
    }
  }
}

button:disabled {
  cursor: not-allowed;
  filter: saturate(50%) brightness(150%);
}

button.hide-when-disabled:disabled {
  visibility: hidden;
}